<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.fosu.dao.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAjaxServlet</servlet-name>
    <servlet-class>cn.fosu.dao.servlet.UserAjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.fosu.dao.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.fosu.dao.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexSevlet</servlet-name>
    <servlet-class>cn.fosu.dao.servlet.IndexSevlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SP_carServlet</servlet-name>
    <servlet-class>cn.fosu.dao.servlet.SP_carServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SP_carInfoServlet</servlet-name>
    <servlet-class>cn.fosu.dao.servlet.SP_carInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JieSuangServlet</servlet-name>
    <servlet-class>cn.fosu.dao.servlet.JieSuangServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAjaxServlet</servlet-name>
    <url-pattern>/servlet/UserAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexSevlet</servlet-name>
    <url-pattern>/servlet/IndexSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SP_carServlet</servlet-name>
    <url-pattern>/servlet/SP_carServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SP_carInfoServlet</servlet-name>
    <url-pattern>/servlet/SP_carInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JieSuangServlet</servlet-name>
    <url-pattern>/servlet/JieSuangServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
	 <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>
  

</web-app>